h1 {
    text-align: center;
}

#container {
    background-color:#003049;
    width: 90%;
    /*height: 500px;*/
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: colomn;
    justify-content: center;
    align-items: center;
    
}

#container div {
    width: 200px;
    height: 200px;
    flex-basis: 400px;

}

div:nth-of-type(1) {
    flex-shrink: 2;
}

div:nth-of-type(5) {
    flex-shrink: 2;
}

/*div:nth-of-type(3) {
    align-self: flex-end;
}

div:nth-of-type(5) {
    align-self: flex-start;
}*/


main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid plum;
    height: 500px;
    display: flex;
}

main .sidebar {
    background-color:#09c9e3;
    flex: 1 2 300px;

}

main .content {
    background-color: #eca3ec;
    flex: 2 1 800px;

}