h1 {
    color: rgba(60, 165, 186, 0.267);
    font-size: small;
    background-color: blue;
}

button {
    color: darkviolet ;
    background-color: #d2b48c;
}

p {
    color: #171818;
    background-color: rgba(7, 105, 224, 0.803);

}